.solution, .solution-2, .solution-3, .solution-4, .solution-5, .solution-6 {
    display: none;
}

.solution-p, .solution-2-p, .solution-3-p, .solution-4-p {
    display: none;
    margin-top: -15px;
}