@media (max-width: 600px) {
	h1 {
		font-size: 40px;
		margin: 5px auto auto auto;
	}
	#headshot {
		margin: auto auto auto auto;
	}
	#info, #about, #connect, #resources {
		margin: 5px auto auto auto;
		width: 80%;
	} #about, #connect, #resources {
		margin: auto;
	}	
	#terminal {
		font-size: 10px;
		margin-bottom: 5px;
		line-height: 10px;
	}    
    #topbarthing {
        height: 12px;
        padding-top: 2px;
    }       
    #red, #yellow, #green {
        width: 5px;
        height:5px;
        border-radius: 5px;
        margin: 2px 7px 3px -3px;
    } 
    a.icons {
    	margin: auto 7px auto 7px;
    	font-size: 16px;
    	width: 20px;
    	height: 20px;
    }
}