@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
@import url(../fonts/font-awesome/css/font-awesome.min.css);

body {
	text-align: center;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	margin-top:3%;
	padding-bottom:20px;
	background: linear-gradient(#99bbdd 0%, #99bbdd 50%, #d4b1b1 50%, #d4b1b1 100%); /* W3C */
}

h1 {
	font-family: 'Slabo 27px', serif;
	letter-spacing: 3px;
	color: white;
	font-weight: bold;
	font-size: 60px;
	text-shadow: 3px 3px #6688aa;
	margin-top: 0px;
}

a:link, a:visited {
	text-decoration: none;
    color: #ddffff;
} a:hover {
    text-decoration: underline;
}

#headshot {
	margin:auto;
	margin-bottom: 0px;
	width: 145px;
	height: 145px;
	background-image: url('../assets/head1.jpg');
	background-size: 150px;
	background-position: center;
	border-radius: 145px;
	border: 3px white solid;
	box-shadow: 3px 3px  #6688aa;

} #headshot:hover {
	background-image: url('../assets/head2.jpg');
}

#info {
	background-color:rgba(255,255,255,0.2);
	width:60%;
	margin: -40px auto auto auto;
	padding:10px;
}

p {
	text-shadow: 1px 1px #6688aa;
	margin: auto;
	font-size: 18px;
}
#terminal {
	font-size: 12px;
	color:#f8f8f8;
	font-family: Lucida Console;
	text-align: left;
	margin: 0px auto 10px auto;
	width: 90%;
	background-color:#445566;
	padding: 7px 10px 7px 12px;
	border-radius: 0px 0px 4px 4px;
	line-height: 14px;
} #topbarthing {
	margin: auto;
	margin-top:10px;
	background-color:#E6E6E6;
	border-radius: 4px 4px 0px 0px;
	padding: 1px 10px 0px 12px;
	height: 15px;
	width: 90%;
} 
.input {
	color: #c7c7c7;
}
.string {
	color:#fff1b7;
}

.fa {
	font-size: 16px;
}

::-webkit-scrollbar {
    display:none;
}