body {
    background: url("../assets/bgimg.jpg") no-repeat center center fixed;
    background-size: cover;
	text-align: center;
	color: white;
	font-family: 'Karla', sans-serif;
	margin-top: 100px;
}

h1 {
	font-family: 'Slabo 27px', serif;
	letter-spacing: 3px;
	color: white;
	font-weight: bold;
	font-size: 60px;
	margin-top: 10px;
}

h4 {
	font-family: 'Slabo 27px', serif;
	letter-spacing: 0px;
	color: white;
	font-size: 17px;
	margin-top: 0px;
	margin-bottom: 0px;
}

p {
  	font-size: 15px;
}

a:link, a:visited {
	text-decoration: none;
    color: rgba(50,50,50,.6);
} a:hover {
    text-decoration: underline;
}

a.nav {
    display:inline-block;
    width: auto;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    color:rgba(50,50,50,.8);
    background: rgba(255,255,255,.8);
    padding: 5px 8px 5px 8px;
    margin: 12px 4px 4px 4px;
    border-radius: 3px;
    border: 1px solid rgba(255,255,255,.5);
    transition: background-color .4s;
    transition: color .4s;
} a.nav:hover {
    background: rgba(85,153,238,.5);
    border: 1px solid rgba(85,153,238,.3);
    color: white;
}

a.icons {
    display:inline-block;
    width: 29px;
    height: 27px;
    font-size: 22px;
    text-decoration: none;
    color: white;
    padding: 10px 8px 8px 8px;
    margin: 0px 20px 0px 0px;
    border-radius: 27px;
    border: 2px solid white;
    transition: background .3s;
} a.icons:hover {
    background: rgba(255,255,255,.3);
}

#headshot {
	margin:auto;
	width: 145px;
	height: 145px;
	background-image: url('../assets/head1.jpg');
	background-size: 150px;
	background-position: center;
	border: 3px solid white;
	border-radius: 145px;
} #headshot:hover {
	background-image: url('../assets/head2.jpg');
}

#info, #about, #connect, #work {
	text-align: center;
	background-color:rgba(50,50,50,0.3);
	width:450px;
	margin: -25px auto auto auto;
	padding:10px;
}
#about {
	margin: auto;
    padding-top: 0px;
	display: none;
}
#connect {
    margin: auto;
    padding-bottom: 10px;
    padding-top: 0px;
    display: none;
}
#work {
    margin: auto;
    padding-bottom: 10px;
    padding-top: 0px;
    display: none;
}
#work a {
	color: white;
}

#terminal {
	font-size: 12px;
	color:black;
	font-family: Lucida Console;
	text-align: left;
	margin: 0px auto 10px auto;
	width: 400px;
	background-color:white;
	padding: 7px 10px 7px 12px;
	border-radius: 0px 0px 4px 4px;
	line-height: 14px;
} #topbarthing {
	margin: auto;
	background-color:#E6E6E6;
	border-radius: 4px 4px 0px 0px;
	border-bottom: solid 1px #CCCCCC;
	padding: 1px 10px 0px 7px;
	height: 20px;
	width: 405px;
} 
#red, #yellow, #green {
	width: 10px;
	height:10px;
	border-radius: 10px;
	margin: 4px 9px 3px 0px;
	float:left;
} 
#red {
	background-color:#FF4D4D;
	border: solid 1px #B83737;
}
#yellow {
	background-color:#FFDB4D;
	border: solid 1px #CCAF3E;
} 
#green {
	background-color:#33CC33;
	border: solid 1px #29A329;
}

@media (max-width: 800px) {
	h1 {
		font-size: 40px;
		margin: 5px auto auto auto;
	}
	#headshot {
		margin: auto auto auto auto;
	}
	#info, #about, #connect, #work {
		margin: 5px auto auto auto;
		width: 300px;
	} #about, #connect, #work {
		margin: auto;
	}	
	#terminal {
		font-size: 8px;
		line-height: 10px;
		width: 260px;
		margin-bottom: 5px;
	}    
    #topbarthing {
        height: 10px;
        width: 265px;
    }       
    #red, #yellow, #green {
        width: 5px;
        height:5px;
        border-radius: 5px;
        margin: 2px 7px 3px -3px;
    } 
    a.icons {
    	margin: auto 7px auto 7px;
    	font-size: 16px;
    	width: 20px;
    	height: 20px;
    }
}