pre, p, ol {
    width: 650px;
}

.concepts {
	font-weight: bold;
}

#sidebar {
    height: 100%;
    position: fixed;
    right:50px;
    font-family: "News Cycle","Arial Narrow Bold",sans-serif;
    font-size: 20px;
    background-color: #f5f5f5;    
    padding: 40px 20px 0px 20px;
    border: 1px solid #cccccc;
    text-align: right;
}

.solution, .solution-2, .solution-3, .solution-4, .solution-5, .solution-6 {
    display: none;
    line-height: 0px;
}

.solution-p, .solution-2-p, .solution-3-p, .solution-4-p {
    display: none;
    margin-top: -18px;
}
