pre, p, ol {
    width: 600px;
}

.concepts {
	font-weight: bold;
}

#sidebar {
    width: 200px;
    position: fixed;
    right:50px;
    font-family: "News Cycle","Arial Narrow Bold",sans-serif;
    font-size: 20px;
}