@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@import url(../fonts/font-awesome/css/font-awesome.min.css);

body {
    background: url("../assets/bg3.jpg") no-repeat center center fixed;
    background-size: cover;
	text-align: center;
	color:rgba(50,50,50,.8);
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: 17%;
	width: 50%;
	font-weight: 300;
}

h1 {
	font-weight: 300;
	letter-spacing: 3px;
	color:rgba(50,50,50,.8);
	font-size: 45px;
	display: inline;
}

p {
  	font-size: 15px;
}

a:link, a:visited {
	text-decoration: none;
    color: rgba(50,50,50,.6);
} a:hover {
    text-decoration: underline;
}

a.nav {
    display:inline-block;
    width: auto;
    font-size: 14px;
    text-decoration: none;
    color:rgba(50,50,50,.8);
    background: rgba(255,255,255,.8);
    padding: 5px 8px 5px 8px;
    margin: 12px 4px 4px 4px;
    border-radius: 3px;
    border: 1px solid rgba(255,255,255,.5);
    transition: background-color .4s;
    transition: color .4s;
} a.nav:hover {
    background: rgba(85,153,238,.5);
    border: 1px solid rgba(85,153,238,.3);
    color: white;
}

a.icons {
    display:inline-block;
    width: 18px;
    height: 18px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    padding: 7px 8px 8px 8px;
    margin: 0px 20px 0px 0px;
    border-radius: 27px;
    border: 2px solid white;
    transition: background .3s;
} a.icons:hover {
    background: rgba(255,255,255,.3);
}

#headshot {
	display: inline-block;
	width: 70px;
	height: 70px;
	background-image: url('../assets/head2.jpg');
	background-size: cover;
	border: 3px solid white;
	border-radius: 50px;
	margin-right: 5px;
}

#info, #about, #connect, #resources {
	text-align: center;
	background-color:rgba(50,50,50,0.3);
	width:80%;
	margin:auto;
	color: white;
	padding:10px;
}
#about {
	margin: auto;
    padding-top: 0px;
	display: none;
}
#connect {
    margin: auto;
    padding-bottom: 15px;
    padding-top: 0px;
    display: none;
}
#resources {
    margin: auto;
    padding-bottom: 10px;
    padding-top: 0px;
    display: none;
}
#resources a {
	color: white;
}

#terminal {
	font-family: Lucida Console;
	font-size: 12px;
	color:black;
	text-align: left;
	background-color:white;
	border-radius: 0px 0px 4px 4px;
	width: 80%;
	margin: 0px auto 10px auto;
	padding: 7px 10px 7px 12px;
	line-height: 14px;
} #topbarthing {
	margin: auto;
	background-color:#E6E6E6;
	border-radius: 4px 4px 0px 0px;
	border-bottom: solid 1px #CCCCCC;
	padding: 1px 10px 0px 7px;
	height: 20px;
	width: 81%;
} 
#red, #yellow, #green {
	width: 10px;
	height:10px;
	border-radius: 10px;
	margin: 4px 9px 3px 0px;
	float:left;
} 
#red {
	background-color:#FF4D4D;
	border: solid 1px #B83737;
}
#yellow {
	background-color:#FFDB4D;
	border: solid 1px #CCAF3E;
} 
#green {
	background-color:#33CC33;
	border: solid 1px #29A329;
}